<% layout('layout') -%>

<div class="page-header text-center">
    <h1></span> Profile Page</h1>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
</div>

<div class="row">

    <!-- LOCAL INFORMATION -->
    <div class="col-sm-6">
        <div class="well">
            <h3>Local</h3>
                <% if (user.local.email){ %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                   <p>No local account</p>
                <% } %>
        </div>
    </div>
    <div class='col-sm-6'>
        <div class='well'>
            <h3 class='text-primary'>Facebook</h3>

            <% if(user.facebook.token){ %>
                <p>
                    <strong>id</strong>: <%= user.facebook.id %><br>
                    <strong>token</strong>: <%= user.facebook.token %><br>
                    <strong>email</strong>: <%= user.facebook.email %><br>
                    <strong>name</strong>: <%= user.facebook.name %><br>
                </p>

                <a href='/unlink/facebook' class='btn btn-primary'>Unlink</a>
            <% } else { %>
                <a href='/connect/facebook' class='btn btn-primary'>Connect Facebook</a>

            <% } %>
        </div>
    </div>

</div>


















